#See results of SQL_VS_Pyspark with out execution from
https://k-lakshmikanth.github.io/Learn/SQL_VS_Pyspark.html

In [0]:
from pyspark import SparkFiles
spark.sparkContext.addFile('https://raw.githubusercontent.com/k-lakshmikanth/Databricks/main/emp.csv')
url = "file://"+SparkFiles.get("emp.csv")
df = spark.read.format("csv").option("inferSchema",True).option("header",'True').load(url)

In [0]:
#SELECT * FROM TABLE
display(df)

empno,ename,job,mgr,hiredate,sal,comm,deptno
7369,SMITH,CLERK,7902.0,13-06-1993,800,null,20
7499,ALLEN,SALESMAN,7698.0,15-08-1998,1600,300.0,30
7521,WARD,SALESMAN,7698.0,26-03-1996,1250,500.0,30
7566,JONES,MANAGER,7839.0,31-10-1995,2975,null,20
7698,BLAKE,MANAGER,7839.0,11-06-1992,2850,null,30
7782,CLARK,MANAGER,7839.0,14-05-1993,2450,null,10
7788,SCOTT,ANALYST,7566.0,05-03-1996,3000,null,20
7839,KING,PRESIDENT,null,09-06-1990,5000,null,10
7844,TURNER,SALESMAN,7698.0,04-06-1995,1500,0.0,30
7876,ADAMS,CLERK,7788.0,04-06-1999,1100,null,20
7900,JAMES,CLERK,7698.0,23-06-2000,950,null,30
7934,MILLER,CLERK,7782.0,21-01-2000,1300,null,10
7902,FORD,ANALYST,7566.0,05-12-1997,3000,null,20
7654,MARTIN,SALESMAN,7698.0,05-12-1998,1250,1400.0,30

In [0]:
#SELECT COUNT(*) FROM  TABLE
df.count()

Out[4]: 14

In [0]:
#DESCRIBE TABLE
df.printSchema()

root
 |-- empno: integer (nullable = true)
 |-- ename: string (nullable = true)
 |-- job: string (nullable = true)
 |-- mgr: double (nullable = true)
 |-- hiredate: string (nullable = true)
 |-- sal: integer (nullable = true)
 |-- comm: double (nullable = true)
 |-- deptno: integer (nullable = true)

In [0]:
#SELECT COLUMN1,COLUMN2 FROM TABLE
df.select(['empno','ename']).display()
#               | OR | 
df.select('empno','ename').display()

empno,ename
7369,SMITH
7499,ALLEN
7521,WARD
7566,JONES
7698,BLAKE
7782,CLARK
7788,SCOTT
7839,KING
7844,TURNER
7876,ADAMS
7900,JAMES
7934,MILLER
7902,FORD
7654,MARTIN

empno,ename
7369,SMITH
7499,ALLEN
7521,WARD
7566,JONES
7698,BLAKE
7782,CLARK
7788,SCOTT
7839,KING
7844,TURNER
7876,ADAMS
7900,JAMES
7934,MILLER
7902,FORD
7654,MARTIN

In [0]:
#SELECT * FROM TABLE WHERE COLUMN=NUMBER
display(df.filter('empno = 7369 '))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7369,SMITH,CLERK,7902.0,13-06-1993,800,null,20

In [0]:
#SELECT *FROM TABLE WHERE COLUMN=STRING
display(df.filter('job = "MANAGER"'))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7566,JONES,MANAGER,7839.0,31-10-1995,2975,null,20
7698,BLAKE,MANAGER,7839.0,11-06-1992,2850,null,30
7782,CLARK,MANAGER,7839.0,14-05-1993,2450,null,10

In [0]:
#SELECT *FROM TABLE WHERE COLUMN IN (NUMBERS)
display(df.filter('empno in (7369,7499,7566,7698)'))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7369,SMITH,CLERK,7902.0,13-06-1993,800,null,20
7499,ALLEN,SALESMAN,7698.0,15-08-1998,1600,300.0,30
7566,JONES,MANAGER,7839.0,31-10-1995,2975,null,20
7698,BLAKE,MANAGER,7839.0,11-06-1992,2850,null,30

In [0]:
#SELECT *FROM TABLE WHERE COLUMN IN (STRINGS)
display(df.filter('ename in ("JAMES","MILLER","FORD","MARTIN")'))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7900,JAMES,CLERK,7698.0,23-06-2000,950,null,30
7934,MILLER,CLERK,7782.0,21-01-2000,1300,null,10
7902,FORD,ANALYST,7566.0,05-12-1997,3000,null,20
7654,MARTIN,SALESMAN,7698.0,05-12-1998,1250,1400.0,30

In [0]:
#SELECT *FROM TABLE WHERE COLUMN <> NUMBER
display(df.filter('mgr <> 7698'))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7369,SMITH,CLERK,7902.0,13-06-1993,800,null,20
7566,JONES,MANAGER,7839.0,31-10-1995,2975,null,20
7698,BLAKE,MANAGER,7839.0,11-06-1992,2850,null,30
7782,CLARK,MANAGER,7839.0,14-05-1993,2450,null,10
7788,SCOTT,ANALYST,7566.0,05-03-1996,3000,null,20
7876,ADAMS,CLERK,7788.0,04-06-1999,1100,null,20
7934,MILLER,CLERK,7782.0,21-01-2000,1300,null,10
7902,FORD,ANALYST,7566.0,05-12-1997,3000,null,20

In [0]:
#SELECT *FROM TABLE WHERE COLUMN NOT IN (NUMBER)
display(df.filter('mgr not in (7698,7566,7902)'))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7566,JONES,MANAGER,7839.0,31-10-1995,2975,null,20
7698,BLAKE,MANAGER,7839.0,11-06-1992,2850,null,30
7782,CLARK,MANAGER,7839.0,14-05-1993,2450,null,10
7876,ADAMS,CLERK,7788.0,04-06-1999,1100,null,20
7934,MILLER,CLERK,7782.0,21-01-2000,1300,null,10

In [0]:
#SELECT *FROM TABLE WHERE COLUMN NOT IN (STRING)
display(df.filter('ename not in ("JAMES","MILLER","FORD","MARTIN")'))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7369,SMITH,CLERK,7902.0,13-06-1993,800,null,20
7499,ALLEN,SALESMAN,7698.0,15-08-1998,1600,300.0,30
7521,WARD,SALESMAN,7698.0,26-03-1996,1250,500.0,30
7566,JONES,MANAGER,7839.0,31-10-1995,2975,null,20
7698,BLAKE,MANAGER,7839.0,11-06-1992,2850,null,30
7782,CLARK,MANAGER,7839.0,14-05-1993,2450,null,10
7788,SCOTT,ANALYST,7566.0,05-03-1996,3000,null,20
7839,KING,PRESIDENT,null,09-06-1990,5000,null,10
7844,TURNER,SALESMAN,7698.0,04-06-1995,1500,0.0,30
7876,ADAMS,CLERK,7788.0,04-06-1999,1100,null,20

In [0]:
#SELECT *FROM TABLE WHERE COLUMN LIKE '%XYZ'
display(df.filter('ename LIKE "%S" '))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7566,JONES,MANAGER,7839.0,31-10-1995,2975,null,20
7876,ADAMS,CLERK,7788.0,04-06-1999,1100,null,20
7900,JAMES,CLERK,7698.0,23-06-2000,950,null,30

In [0]:
#SELECT *FROM TABLE WHERE COLUMN LIKE 'XYZ%'
display(df.filter('ename LIKE "A%" '))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7499,ALLEN,SALESMAN,7698.0,15-08-1998,1600,300.0,30
7876,ADAMS,CLERK,7788.0,04-06-1999,1100,null,20

In [0]:
#SELECT *FROM TABLE WHERE COLUMN LIKE '%XYZ%'
display(df.filter('ename LIKE "%A%" '))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7499,ALLEN,SALESMAN,7698.0,15-08-1998,1600,300.0,30
7521,WARD,SALESMAN,7698.0,26-03-1996,1250,500.0,30
7698,BLAKE,MANAGER,7839.0,11-06-1992,2850,null,30
7782,CLARK,MANAGER,7839.0,14-05-1993,2450,null,10
7876,ADAMS,CLERK,7788.0,04-06-1999,1100,null,20
7900,JAMES,CLERK,7698.0,23-06-2000,950,null,30
7654,MARTIN,SALESMAN,7698.0,05-12-1998,1250,1400.0,30

In [0]:
#SELECT *FROM TABLE WHERE COLUMN IS NULL
display(df.filter('comm is null'))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7369,SMITH,CLERK,7902.0,13-06-1993,800,null,20
7566,JONES,MANAGER,7839.0,31-10-1995,2975,null,20
7698,BLAKE,MANAGER,7839.0,11-06-1992,2850,null,30
7782,CLARK,MANAGER,7839.0,14-05-1993,2450,null,10
7788,SCOTT,ANALYST,7566.0,05-03-1996,3000,null,20
7839,KING,PRESIDENT,null,09-06-1990,5000,null,10
7876,ADAMS,CLERK,7788.0,04-06-1999,1100,null,20
7900,JAMES,CLERK,7698.0,23-06-2000,950,null,30
7934,MILLER,CLERK,7782.0,21-01-2000,1300,null,10
7902,FORD,ANALYST,7566.0,05-12-1997,3000,null,20

In [0]:
#SELECT *FROM TABLE WHERE COLUMN IS NOT NULL
display(df.filter('comm is not null'))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7499,ALLEN,SALESMAN,7698.0,15-08-1998,1600,300.0,30
7521,WARD,SALESMAN,7698.0,26-03-1996,1250,500.0,30
7844,TURNER,SALESMAN,7698.0,04-06-1995,1500,0.0,30
7654,MARTIN,SALESMAN,7698.0,05-12-1998,1250,1400.0,30

In [0]:
#SELECT * FROM TABLE WHERE COLUMN1 = NUMBER AND COLUMN2 = NUMBER 
display(df.filter('deptno = 30 and sal = 1500 '))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7844,TURNER,SALESMAN,7698.0,04-06-1995,1500,0.0,30

In [0]:
#SELECT * FROM TABLE WHERE COLUMN1 = STRING AND COLUMN2 = STRING 
display(df.filter('job = "SALESMAN" and sal = 1500'))

empno,ename,job,mgr,hiredate,sal,comm,deptno
7844,TURNER,SALESMAN,7698.0,04-06-1995,1500,0.0,30

In [0]:
#SELECT LENGTH(COLUMN) FROM TABLE
from pyspark.sql.functions import length,col
#display(df.select(COLUMN).withColumn('Alias',length(col(COLUMN))))
display(df.select('ename').withColumn('length of ename',length(col('ename'))))

ename,length of ename
SMITH,5
ALLEN,5
WARD,4
JONES,5
BLAKE,5
CLARK,5
SCOTT,5
KING,4
TURNER,6
ADAMS,5
JAMES,5
MILLER,6
FORD,4
MARTIN,6

In [0]:
#SELECT UPPER(COLUMN) FROM TABLE
from pyspark.sql.functions import upper
#display(df.select(COLUMN).withColumn('Alias',upper(col(COLUMN))))
display(df.select('ename').withColumn('upper of ename',upper(col('ename'))))

ename,upper of ename
SMITH,SMITH
ALLEN,ALLEN
WARD,WARD
JONES,JONES
BLAKE,BLAKE
CLARK,CLARK
SCOTT,SCOTT
KING,KING
TURNER,TURNER
ADAMS,ADAMS
JAMES,JAMES
MILLER,MILLER
FORD,FORD
MARTIN,MARTIN

In [0]:
#SELECT LOWER(COLUMN) FROM TABLE
from pyspark.sql.functions import lower
#display(df.select(COLUMN).withColumn('Alias',lower(col(COLUMN))))
display(df.select('ename').withColumn('lower of ename',lower(col("ename"))))

ename,lower of ename
SMITH,smith
ALLEN,allen
WARD,ward
JONES,jones
BLAKE,blake
CLARK,clark
SCOTT,scott
KING,king
TURNER,turner
ADAMS,adams
JAMES,james
MILLER,miller
FORD,ford
MARTIN,martin

In [0]:
#TRIM
from pyspark.sql.functions import trim
#display(df.select(COLUMN).withColumn('Alias',trim(col(COLUMN))))
display(df.select('ename').withColumn('trim of ename',trim(col('ename'))))

ename,trim of ename
SMITH,SMITH
ALLEN,ALLEN
WARD,WARD
JONES,JONES
BLAKE,BLAKE
CLARK,CLARK
SCOTT,SCOTT
KING,KING
TURNER,TURNER
ADAMS,ADAMS
JAMES,JAMES
MILLER,MILLER
FORD,FORD
MARTIN,MARTIN

In [0]:
#LTRIM
from pyspark.sql.functions import ltrim
#display(df.select(COLUMN).withColumn('Alias',ltrim(col(COLUMN))))
display(df.select('ename').withColumn('ltrim of ename',ltrim(col('ename'))))

ename,ltrim of ename
SMITH,SMITH
ALLEN,ALLEN
WARD,WARD
JONES,JONES
BLAKE,BLAKE
CLARK,CLARK
SCOTT,SCOTT
KING,KING
TURNER,TURNER
ADAMS,ADAMS
JAMES,JAMES
MILLER,MILLER
FORD,FORD
MARTIN,MARTIN

In [0]:
#RTRIM
from pyspark.sql.functions import rtrim
#display(df.select(COLUMN).withColumn('Alias',rtrim(col(COLUMN))))
display(df.select('ename').withColumn('rtrim of ename',rtrim(col('ename'))))

ename,rtrim of ename
SMITH,SMITH
ALLEN,ALLEN
WARD,WARD
JONES,JONES
BLAKE,BLAKE
CLARK,CLARK
SCOTT,SCOTT
KING,KING
TURNER,TURNER
ADAMS,ADAMS
JAMES,JAMES
MILLER,MILLER
FORD,FORD
MARTIN,MARTIN

In [0]:
#SELECT COLUMN1,SUM(COLUMN2) FROM TABLE GROUP BY COLUMN1
#display(df.select(COLUMN1,COLUMN2).groupby(COLUMN1).sum(COLUMN2))
display(df.select('deptno','sal').groupby('deptno').sum('sal'))

deptno,sum(sal)
20,10875
10,8750
30,9400

In [0]:
#SELECT COLUMN1,SUM(COLUMN2) FROM TABLE GROUP BY COLUMN1 HAVING SUM(COLUMN2)>100
display(df.select('deptno','sal').groupby('deptno').sum('sal').where(col("SUM(sal)")>=9400))

deptno,sum(sal)
20,10875
30,9400

In [0]:
#Select job,len(job) as count from <Tablename> order by len(job) desc
from pyspark.sql.functions import length
df.select("job").withColumn("count",length(df['job'])).orderBy(length(df['job']).desc()).display()

job,count
PRESIDENT,9
SALESMAN,8
SALESMAN,8
SALESMAN,8
SALESMAN,8
MANAGER,7
ANALYST,7
MANAGER,7
ANALYST,7
MANAGER,7
CLERK,5
CLERK,5
CLERK,5
CLERK,5